body {
  background-color: rgb(206, 222, 255);
}

#root {
  width: 50%;
  position: relative;
  left: 25%;
  padding-left: 10%;
}

#root #addHobby:hover {
  color: green;
  cursor: pointer;
}

#root ul {
  padding-left: 0px;
}

#root li {
  list-style-type: none;
  position: relative;
  left: -28px;
  display: flex;
}

#root span {
  margin-left: 6px;
}

#root li .liContent {
  padding-bottom: 10px;
  border: 1px solid black;
  border-bottom: none;
  padding: 10px;
  min-width: 140px;
  width: 80%;
  max-width: 300px;
}

#root li:last-of-type .liContent {
  border-bottom: 1px solid black;
}

#root li .liInfo:hover {
  color: red;
  cursor: pointer;
}