body {
  background-color: rgb(206, 222, 255);
}

#root {
  width: 50%;
  position: relative;
  left: 25%;
  padding-left: 10%;
}

#root ul {
  padding-left: 0;
  min-width: 200px;
  width: 80%;
  max-width: 260px;
}

#root span {
  margin-left: 5px;
}

#root li {
  list-style-type: none;
  padding: 3px;
  border: 1px solid black;
  border-bottom: none;
}

#root li:last-child {
  border-bottom: 1px solid black;
}