body {
  background-color: #d9f7ff;
}

.container-fluid {
  padding: 0;
}

#root {
  width: 100%;
  position: relative;
  left: 10%;
}

#root #addHobby:hover {
  color: green;
  cursor: pointer;
}

#root ul {
  padding-left: 0px;
  margin-top: 15px;
}

#root li {
  list-style-type: none;
  position: relative;
  left: -28px;
  display: flex;
}

#root span {
  margin-left: 6px;
}

#root li .liContent {
  border: 1px solid black;
  border-bottom: none;
  padding: 10px;
  min-width: 277px;
  width: 277px;
}

#root li:last-of-type .liContent {
  border-bottom: 1px solid black;
}

#root li .liInfo:hover {
  color: red;
  cursor: pointer;
}

#root .liInfo, #root .liIndex {
  position: relative;
  top: 9px;
}